<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <title>Document</title>
    <style>
      * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 600;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    border: 2px black solid;
    padding: 5px;
}

.signatures p {
    white-space: nowrap;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px; width: 120px
}
form{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
input {
    background-color: rgb(233, 233, 233);
    border-radius: 4px;
    border: 0;
    padding: 4px 8px;
    margin-bottom: 4px;
}

button {
    background-color: #14ab55;
    color: white;
    padding: 4px 8px;
    border: 0;
    margin-top: 5px;
    border-radius: 4px;
}
    </style>
  </head>
  <body>
    <div style="width: fit-content">
      <div style="border: 2px black solid; margin: 2px">
        <div style="border: 2px black solid;display: flex; justify-content: space-evenly; align-items: center;" >
          <div class="logo"> <img class = "logo" src="/images/AtecoLogoTransparent.png"> </div>
          <p style="text-align: center">
            Welder Qualification Test Record Sheet 
          </p>
        <p>ATECO-WTQ_DOC# __</p>
        
        </div>
        <div>
          <table>
            <thead>
              <tr>
                <th>Welder ID</th>
                <th>Iqama Number</th>
                <th>Test Coupon ID</th>
                <th>Date of Inspection</th>
                <th>Welding Process(es)</th>
                <th>Type of welding (manual/ semi-auto)</th>
                <th>Backing (with /without)</th>
                <th>Type of Weld/Joint</th>
                <th>Thickness</th>
                <th>Product Type (Plate or Pipe)</th>
                <th>Diameter of Pipe</th>
                <th>Base Metal P Number</th>
                <th>Filler Metal or electrode specification(s) (SFA)</th>
                <th>Filler Metal F-Number (S)</th>
                <th>Filler Metal addition/Deletion ( GTAW / PAW)</th>
                <th>Deposit thickness for each process</th>
                <th>Welding Position (s)</th>
                <th>Vertical Progression (s)</th>
                <th>Type of Fuel Gas (OFW)</th>
                <th>Inert gas backing (GTAW, PAW, GMAW)</th>
                <th>Transfer Mode (spray, globular, or pulse to sort circuit-GMAW)</th>
                <th>Current Type I Polarity (AC. DCEP, DCEN)</th>
                <th>Voltage</th>
                <th>Current</th>
                <th>Travel Speed</th>
                <th>InterPass Temperature</th>
                <th>Pre Heat (If Applicable)</th>
                <th>Post Weld Heat Treatment (If Applicable)</th>
              </tr>
            </thead>
            <form action="/report/update/<%= record.doc_id %>" method="post">
            <tbody id="data-table-body">
              <% record.doc_details.map((data,index)=>{ %>
              <tr>
                
            <td> <input type="text" id="welder-id" name="welder_id" value="<%= data.welder_id %>" /></td>
            <td><input type="text" id="iqama-number" name="iqama_no" value="<%= data.iqama_no %>"/> </td> 
            <td><input type="text" id="test-coupon-id" name="test_coupon_id" value="<%= data.test_coupon_id %>" /></td> 
            <td> <input type="text" id="date-of-inspection" name="date_of_inspection" value="<%= data.date_of_inspection %>"/></td>
            <td><input type="text" id="welding-process" name="welding_process" value="<%= data.welding_process %>"/></td>
            <td><input type="text" id="type-of-welding" name="type_of_welding" value="<%= data.type_of_welding %>"/></td>
            <td> <input type="text" id="backing" name="backing" value="<%= data.backing %>" /></td>
            <td><input type="text"id="type-of-weld-joint" name="typeof_weld" value="<%= data.typeof_weld %>"/> </td> 
            <td><input type="text" id="thickness" name="thickness" value="<%= data.thickness %>"/></td>
            <td><input type="text" id="product-type" name="product_type" value="<%= data.product_type%>"/></td>
            <td> <input type="text" id="diameter-of-pipe" name="diameter_of_pipe" value="<%= data.diameter_of_pipe %>" /></td>
            <td> <input type="text" id="base-metal-p-number" name="base_metal_p_number" value="<%= data.base_metal_p_number %>"/></td>
            <td> <input type="text" id="filler-metal-spec" name="sfa" value="<%= data.sfa%>"/></td>
            <td> <input type="text" id="filler-metal-f-number" name="s" value="<%= data.s%>"/></td>
            <td> <input type="text" id="filler-metal-addition" name="gtaw_paw" value="<%= data.gtaw_paw %>"/></td>
            <td> <input type="text" id="deposit-thickness" name="deposit_thickness" value="<%= data.deposit_thickness %>"/></td>
            <td><input type="text" id="welding-position" name="welding_position" value="<%= data.welding_position %>"/></td>
            <td> <input type="text"  id="vertical-progression" name="vertical_progression" value="<%= data.vertical_progression %>" /></td>
            <td> <input type="text" id="type-of-fuel-gas" name="ofw" value="<%= data.ofw %>"/></td>
            <td>  <input type="text" id="inert-gas-backing" name="inert_gas" value="<%= data.inert_gas %>"/></td>
            <td> <input type="text" id="transfer-mode" name="transfer_mode" value="<%= data.transfer_mode %>" /></td>
            <td> <input type="text" id="current-type" name="type_polarity" value="<%= data.type_polarity%>"/></td>
            <td>  <input type="text" id="voltage" name="voltage" value="<%= data.voltage %>"/></td>
            <td><input type="text" id="current" name="current" value="<%= data.current %>"/></td>
            <td> <input type="text" id="travel-speed" name="travel_speed" value="<%= data.travel_speed %>"/></td>
            <td> <input type="text" id="interpass-temperature" name="interpass_temperature" value="<%= data.interpass_temperature%>"/></td>
            <td><input type="text" id="pre-heat" name="pre_heat"  value="<%= data.pre_heat %>"/></td>
            <td> <input type="text" id="post-weld-heat-treatment" name="post_weld" value="<%= data.post_weld %>"/></td>       
             </tr>
             <%   }) %>
            </tbody>

            <input id="send-data" type="submit"  style="text-decoration: none; background-color: green; color: white;"/>
         
          </form>
          </table>
      </div>      
      </div>
    </div>

   
  
  </body>
</html>
