<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CERTIFICATE</title>
</head>
<style>
  table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
  }

  thead {
    background-color: rgb(241, 241, 241);
  }
  @media print {
      .hide-in-print {
        display: none;
      }
    }
</style>

<body>
    <form action="/certificate/update/<%=record.certificateNo%>" method="post" enctype="multipart/form-data">
  <table  style="margin: auto; width: 100%;">
    <thead>
      <th><img style="width:200px" src="/images/AtecoLogoTransparent.png" alt=""></th>
      <th>
        <div>
          <h2
            style=" font-size: medium; font-weight: bold; color: green; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Welder / Welder operator performance Qualification Record</h2>
          <h3
            style=" font-size: medium; font-weight: bold; color: black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
           <input value="<%= record.clientName %>" type="text" name="clientName" id=""></h3>
        </div>
      </th>
      <th><img style="width:100px" src="/certificates/<%=record.certificateNo %>/profile.jpg" alt=""></th>
     
    </thead>

  </table>
  <table id="tab" style="margin: auto; width: 100%; border-collapse: collapse; border: 1px solid black;">
    <tbody>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tr>
        <td style="border: 1px solid black; font-weight: bold;">Welder's/Welder Operator's Name</td>
        <td style="border: 1px solid black;"><input type="text" name="welderName" value="<%= record.welderName %>" id=""></td>
        <td style="border: 1px solid black;font-weight: bold;">Identification of WPS/PQR</td>
        <td style="border: 1px solid black;"><input type="text" name="identification_wps" value="<%= record.identification_wps %>" id=""></td>
      </tr>
      <tr>
        <td style="border: 1px solid black;font-weight: bold;">Iqama / ID No</td>
        <td style="border: 1px solid black;"><input type="text" value="<%=record.iqamaNo%>" name="iqamaNo" id=""></td>
        <td style="border: 1px solid black;font-weight: bold;">Qualification Standard</td>
        <td style="border: 1px solid black;"><input type="text" value="<%=record.identification_wps %>"name="qualifcationStandard" id=""></td>
      </tr>
      <tr>
        <td style="border: 1px solid black;font-weight: bold;">Welder ID No</td>
        <td style="border: 1px solid black;"><input type="text" value="<%= record.welderId %>"name="welderId" id=""></td>
        <td style="border: 1px solid black;font-weight: bold;">Base Metal Specification</td>
        <td style="border: 1px solid black;"><input type="text" name="baseMetalSpecs" value="<%=record.baseMetalSpecs %>" id=""></td>
      </tr>
      <tr>
        <td style="border: 1px solid black;font-weight: bold;">WTA Ref No</td>
        <td style="border: 1px solid black;"><input value="<%=record.wtaRef %>" type="text" name="wtaRef" id=""></td>
        <td style="border: 1px solid black;font-weight: bold;">Joint Type</td>
        <td style="border: 1px solid black;"><input type="text" value="<%=record.jointType %>" name="jointType" id=""></td>
      </tr>
      <tr>
        <td style="border: 1px solid black;font-weight: bold;">Date of Test</td>
        <td style="border: 1px solid black;"><input type="text" value="<%=record.date_of_test %>"name="date_of_test" id=""></td>
        <td style="border: 1px solid black;font-weight: bold;">Weld Type</td>
        <td style="border: 1px solid black;"><input type="text" value="<%=record.jointType %>"name="weldType" id=""></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th style="border: 1px solid black; font-weight: bold;">Welder variables</th>
        <th style="border: 1px solid black; font-weight: bold;">ReportNo Values</th>
        <th style="border:ReportNoolid black; font-weight: bold;" colspan="2">Range Qualified</th>
      </tr>
    </thead>
    </tbody>
    <tbody style="text-align: center">
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Welder Process(es)</td>
        <td style="text-align: left; border: 1px solid black;"><input value="<%=record.welderProcessActual %>" type="text" name="welderProcessActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.welderProcessRange %>" type="text" name="welderProcessRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Types of Welder (manual/semi auto)
        </td>
        <td style="text-align: left; border: 1px solid black;"><input type="text" value="<%=record.typesOfWeldersActual %>" name="typesOfWeldersActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.typesOfWeldersRange %>" type="text" name="typesOfWeldersRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Backing (With/without)</td>
        <td style="text-align: left; border: 1px solid black;"><input type="text" value="<%=record.brackingActual %>" name="brackingActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.brackingRange %>" type="text" name="brackingRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Types of weld</td>
        <td style="text-align: left; border: 1px solid black;"><input type="text" value="<%=record.typesOfWieldRange %>" name="typesOfWieldActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.productTypesActual %>" type="text" name="typesOfWieldRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Product Types(Plate or Pipe)</td>
        <td style="text-align: left; border: 1px solid black;"><input type="text" value="<%=record.productTypeActual %>" name="productTypeActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"> <input value="<%=record.productTypeRange %>" type="text" name="productTypeRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Diameter of Pipe</td>
        <td style="text-align: left; border: 1px solid black;;"><input value="<%=record.diameterOfPipeActual %>" type="text" name="diameterOfPipeActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input type="text" value="<%=record.diameterOfPipeRange %>" name="diameterOfPipeRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Base Metal P Number to P Number</td>
        <td style="text-align: left; border: 1px solid black;"><input value="<%=record.baseMetalp_pActual %>" type="text" name="baseMetalp_pActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.baseMetalp_pRange %>" type="text" name="baseMetalp_pRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Filler Metal or electrode sopecification
        </td>
        <td style="text-align: left; border: 1px solid black;"><input value="<%=record.fillerMetalActual %>" type="text" name="fillerMetalActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.fillerMetalRange %>" type="text" name="fillerMetalRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Filler Meta F-Number(S)</td>
        <td style="text-align: left; border: 1px solid black;"><input value="<%=record.fillerMetalFNoActual %>" type="text" name="fillerMetalFNoActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.fillerMetalFNoRange %>" type="text" name="fillerMetalFNoRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Filer Metal addition/Deletion (GTAW/PAW)
        </td>
        <td style="text-align: left; border: 1px solid black;"><input value="<%=record.fillerMetalFNoRange %>" type="text" name="fillerMetalAdditionActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.fillerMetalAdditionRange %>" type="text" name="fillerMetalAdditionRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Consumable Insert (GTAW or PAW)</td>
        <td style="text-align: left; border: 1px solid black;"><input value="<%=record.consumableInsertActual %>" type="text" name="consumableInsertActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.consumableInsertRange %>" type="text" name="consumableInsertRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black; font-weight: bold;">
          Deposit thickness for each process
        </td>
        <td style="text-align: left; border: 1px solid black;"><input value="<%=record.depositeThicknessActual %>" type="text" name="depositeThicknessActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.depositeThicknessRange %>" type="text" name="depositeThicknessRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Welder position</td>
        <td style="text-align: left; border: 1px solid black;"><input value="<%=record.welderPositionActual %>" type="text" name="welderPositionActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.welderPositionRange %>" type="text" name="welderPositionRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Vertical Progression</td>
        <td style="text-align: left; border: 1px solid black;"><input value="<%=record.verticalProgressionActual %>" type="text" name="verticalProgressionActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.verticalProgressionRange %>" type="text" name="verticalProgressionRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Type of Fuel Gas(OFW)</td>
        <td style="text-align: left; border: 1px solid black;"><input value="<%=record.typesOfFuelGasActual %>" type="text" name="typesOfFuelGasActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.typesOfFuelGasRange %>" type="text" name="typesOfFuelGasRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Insert gas backing(GTAW,PAW,GMAW)
        </td>
        <td style="text-align: left; border: 1px solid black;"><input  value="<%=record.insertGasBackingActual %>" type="text" name="insertGasBackingActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.insertGasBackingRange %>" type="text" name="insertGasBackingRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Transfer Mode( spary,globular mode or pulse to sort circuit-GMAW)
        </td>
        <td style="text-align: left; border: 1px solid black;"><input value="<%=record.transferModelActual %>" type="text" name="transferModelActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.transferModelRange %>" type="text" name="transferModelRange" id=""></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Current Type/Polarity(AC,DCEP,DCEN)
        </td>
        <td style="text-align: left; border: 1px solid black;"><input value="<%=record.currentTypePolarityActual %>" type="text" name="currentTypePolarityActual" id=""></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><input value="<%=record.currentTypePolarityRange %>" type="text" name="currentTypePolarityRange" id=""></td>
      </tr>
    </tbody>
    <table border style="width: 100%;">
    <thead>
      <tr>
        <th style=" font-weight: bold;">Test Conducted/ Type of Test</th>
        <th style=" font-weight: bold;">Report No</th>
        <th style="font-weight: bold;" colspan="2">Results</th>
      </tr>
    </thead>
    <tbody style="text-align: center; border: 1px solid black;">
      <tr style="height: 10px; ">

        <td>
          <div style="display: flex; flex-direction: column; gap: 5px; justify-content: center;">
            <h4>  Virtual Inspector</h4>
            <h4>NOT - Radiography</h4>
            <h4>Mechanical Test</h4>
          </div>
       
          
        </td>
        <td style="text-align: center;">
          <div style="display: flex; gap: 10px; justify-content: center;">
            <% if (record.virtualInspectorChecked === "on") { %>
                <input type="checkbox" checked name="virtualInspectorChecked" id="virtualInspectorChecked" >
                <% } else { %>
                  <input type="checkbox" name="virtualInspectorChecked" id="virtualInspectorChecked" >
                  <% } %> 
            <input value="<%=record.virtualInspectorReportNo %>" type="text" name="virtualInspectorReportNo" id="">
          </div>
          <br>
          <div style="display: flex; gap: 10px; justify-content: center;">
            <% if (record.radiographyChecked === "on") { %>
                <input  type="checkbox" checked name="radiographyChecked" id="" >
                <% } else { %>
                  <input type="checkbox" name="radiographyChecked" id="" >
                  <% } %>
            <input value="<%=record.radiographyReportNo %>" type="text" name="radiographyReportNo" id="">
          </div>
          <br>
          <div style="display: flex; gap: 10px; justify-content: center;">
            <% if (record.mechTestChecked === "on") { %>
                <input type="checkbox" checked name="mechTestChecked" id="" >
                <% } else { %>
                  <input type="checkbox" name="mechTestChecked" id="mechTestChecked" >
                  <% } %>
            <input value="<%=record.mechTestReportNo %>" type="text" name="mechTestReportNo" id="">
          </div>

        </td>
        <td>
            <br>
          <div style="display: flex; gap: 10px; justify-content: center;">
            <input value="<%=record.virtualInspectorResults %>" type="text" name="virtualInspectorResults" id="">
          </div>
          <br>
          <div style="display: flex; gap: 10px; justify-content: center;">
            <input value="<%=record.radiographyResults %>" type="text" name="radiographyResults" id="">
          </div>
          <br>
          <div style="display: flex; gap: 10px; justify-content: center;">
            <input value="<%=record.mechTestResults %>" type="text" name="mechTestResults" id="">
          </div>
        </td>
      </tr>

    </tbody>
    <thead>
      <tr>
        <th colspan="4">    <p style="font-size: 11px;">We, the undersigned, certify that the statements in the record are correct and that the test coupons were welded and tested in accordance with the requirements of 
          <span style="color: rgb(0, 131, 254); font-weight: bold;"><input type="text" name="year" value="<%=record.year %>" id=""></span>.</p></th>
      </tr>
    </thead>
   
  </table>
  <table style="width: 100%; border-collapse: collapse;">
    <tbody>
        <tr>
            <td style="padding: 20px; ">
                <div style="display: flex; flex-direction: column; gap: 20px; position: relative; top: -31px;">
                  <p style="font-weight: bold; font-size: 13px; width: 300px; ">For ATECO  Arabian Testing Evolution Company</p>
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                     
                        <span style="font-weight: bold;">Testing Witnessed / Welder Inspector</span>
                        <span style="text-decoration: underline;">   <input type="text" name="welderInspector" value="<%= record.welderInspector %>" id=""></span>
                    </div>
              
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <span style="font-weight: bold;">Test Supervisor / Technical Manager</span>
                        <span style="text-decoration: underline;">   <input type="text" name="supervisorName" value="<%= record.supervisorName %>"></span>
                    </div>
                  
                </div>
            </td>
            <td style="padding: 20px; ">
                <div style="display: flex; flex-direction: column; gap: 20px; ">
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <span style="font-weight: bold; ">Client Name:</span>
                        <span style="text-decoration: underline;">  <%=record.clientName%></span>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <span style="font-weight: bold;">Client Signature:</span>
                        <span style="text-decoration: underline;">________</span>
                    </div>

                    <div style="display: flex; justify-content: end; align-items: center; background-color: rgb(223, 223, 223); width: 100%;">
                      <p >To verify the information about the certificate. Please scan the QR code using any QR scan app</p>
                      <img width="90px" src="/certificates/<%=record.certificateNo %>/qrcode.png" alt="">
                     
                    </div>
          
                </div>
            </td>
        </tr>
        <td colspan="4">
          <img style="width: 100%; height: 80px;" src="/images/addresspic.png" alt="">
          <!-- <p style="text-align: center;">Address : شارع الزین العابدین, Ar Rabiyah, Dammam 32437,Saudi Arabia  | Email :<span style="color: blue;"> Inspection@atecosaudia.com</span></p>  <a class="hide-in-print" href="#" onclick="window.print(); return false;" style="text-decoration: none; background-color: red; color: white; padding: 2px;">Download PDF</a></td> -->
    </tbody>
</table>


UPLOAD THE FILE IN JPG
<input type="file" id="profile" name = "profile" /> 
<input value="Update" class="hide-in-print" type="submit"  style="text-decoration: none; background-color: green; color: white; padding: 2px;">
</form>
</body>

<script>
  let count = 0;
  function change(params) {
    count++;
    if (count > 2){
      return;
    }

    let table = document.getElementById("tab");
    table.innerHTML += ` <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          <input  type="text" value="<%=record.attr1key%>" name="attr1key"> 
        </td>
        <td style="text-align: left; border: 1px solid black;"> <input  value="<%=record.attr1value %>" type="text" name="attr1value" id=""></td>
        <td style="text-align: left; border: 1px solid black;"> <input value="<%=record.attr1range %>"  placeholder="Enter The Ranged" type="text" name="attr1range" id=""></td>
      </tr>

      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          <input  type="text" value="<%=record.attr2key%>" name="attr2key"> 
        </td>
        <td style="text-align: left; border: 1px solid black;"> <input  value="<%=record.attr2value %>" type="text" name="attr2value" id=""></td>
        

        <td style="text-align: left; border: 1px solid black;"> <input value="<%=record.attr2range %>"  placeholder="Enter The Ranged" type="text" name="attr2range" id=""></td>
      </tr>

      <tr>`
        
  }

  change(1);
  </script>

</html>