<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <title>Document</title>
    <style>
      * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 600;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    border: 2px black solid;
    padding: 5px;
}

.signatures p {
    white-space: nowrap;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px; width: 120px
}
form{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
input {
    background-color: rgb(233, 233, 233);
    border-radius: 4px;
    border: 0;
    padding: 4px 8px;
    margin-bottom: 4px;
}

button {
    background-color: #14ab55;
    color: white;
    padding: 4px 8px;
    border: 0;
    margin-top: 5px;
    border-radius: 4px;
}
    </style>
  </head>
  <body>
    <div style="width: fit-content">
      <div style="border: 2px black solid; margin: 2px">
        <div style="border: 2px black solid" class="flex-between">
          <div class="logo"></div>
          <p style="text-align: center">
            Welder Qualification Test Record Sheet | DOC NO # :<span><%= record?.doc_id %></span>
          </p>
          <img class = "logo" src="https://i.ibb.co/jgGwH67/logo.png">
        </div>
        <div>
          <table>
            <thead>
              <tr>
              
                <th>Welder ID</th>
                <th>Iqama Number</th>
                <th>Test Coupon ID</th>
                <th>Date of Inspection</th>
                <th>Welding Process(es)</th>
                <th>Type of welding (manual/ semi-auto)</th>
                <th>Backing (with /without)</th>
                <th>Type of Weld/Joint</th>
                <th>Thickness</th>
                <th>Product Type (Plate or Pipe)</th>
                <th>Diameter of Pipe</th>
                <th>Base Metal P Number</th>
                <th>Filler Metal or electrode specification(s) (SFA)</th>
                <th>Filler Metal F-Number (S)</th>
                <th>Filler Metal addition/Deletion ( GTAW / PAW)</th>
                <th>Deposit thickness for each process</th>
                <th>Welding Position (s)</th>
                <th>Vertical Progression (s)</th>
                <th>Type of Fuel Gas (OFW)</th>
                <th>Inert gas backing (GTAW, PAW, GMAW)</th>
                <th>
                  Transfer Mode (spray, globular, or pulse to sort circuit-GMAW)
                </th>
                <th>Current Type I Polarity (AC. DCEP, DCEN)</th>
                <th>Voltage</th>
                <th>Current</th>
                <th>Travel Speed</th>
                <th>InterPass Temperature</th>
                <th>Pre Heat (If Applicable)</th>
                <th>Post Weld Heat Treatment (If Applicable)</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <div
            class="signatures"
            style="
              border: 2px black solid;
              padding: 40px 10px;
              display: flex;
              gap: 210px;
              font-size: 14px;
            "
          >
        </div>
      </div>      
      </div>
    </div>
  
    <form style="padding: 20px 10px 0 10px" id="data-form" action="/report/update" method="post">
        <label for="serial-no">Doc id.:</label>
        <input type="text" id="doc_id" name="doc_id" value="<%= record?.doc_id %>" /><br />
  
        <label for="serial-no">Serial No.:</label>
        <input type="text" id="serial_no" name="serial_no" value="<%= record?.serial_no %>" /><br />
  
        <label for="welder-id">Welder ID:</label>
        <input type="text" id="welder_id" name="welder_id" value= "<%= record?.welder_id %>"  /><br />
  
        <label for="iqama-number">Iqama Number:</label>
        <input type="text" id="iqama_no" name="iqama_no" value="<%= record?.iqama_no %>" /> <br />
  
        <label for="test-coupon-id">Test Coupon ID:</label>
        <input type="text" id="test_coupon_id" name="test_coupon_id" value="<%= record?.test_coupon_id %>" /><br />
  
        <label for="date-of-inspection">Date of Inspection:</label>
        <input
          type="text"
          id="date_of_inspection"
          name="date_of_inspection"
           value="<%= record?.date_of_inspection %>"
        /><br />
  
        <label for="welding-process">Welding Process(es):</label>
        <input type="text" id="welding_process" name="welding_process" value="<%= record?.welding_process %>" /><br />
  
        <label for="type-of-welding">Type of welding (manual/semi-auto):</label>
        <input type="text" id="type_of_welding" name="type_of_welding" value="<%= record?.type_of_welding %>" /><br />
  
        <label for="backing">Backing (with/without):</label>
        <input type="text" id="backing" name="backing" value="<%= record?.backing %>" /><br />
  
        <label for="type-of-weld-joint">Type of Weld/Joint:</label>
        <input
          type="text"
          id="type_of_welding"
          name="type-of-weld-joint"
          value="<%= record?.type_of_welding %>"
        /><br />
      @@ -123,16 +126,16 @@
        <input type="text" id="thickness" name="thickness" value="<%= record?.thickness %>" /><br />
  
        <label for="product-type">Product Type (Plate or Pipe):</label>
        <input type="text" id="product_type" name="product_type" value="<%= record?.product_type %>" /><br />
  
        <label for="diameter-of-pipe">Diameter of Pipe:</label>
        <input type="text" id="diameter_of_pipe" name="diameter_of_pipe" value="<%= record?.diameter_of_pipe %>" /><br />
  
        <label for="base-metal-p-number">Base Metal P Number:</label>
        <input
          type="text"
          id="base_metal_p_no"
          name="base_metal_p_no"
          value="<%= record?.base_metal_p_no %>"
        /><br />
  
      @@ -141,16 +144,16 @@
        >
        <input
          type="text"
          id="sfa"
          name="sfa"
          value="<%= record?.sfa %>"
        /><br />
  
        <label for="filler-metal-f-number">Filler Metal F-Number (S):</label>
        <input
          type="text"
          id="s"
          name="s"
          value="<%= record?.s %>"
        /><br />
  
      @@ -159,21 +162,21 @@
        >
        <input
          type="text"
          id="gtaw_paw"
          name="gtaw_paw"
          value="<%= record?.gtaw_paw %>"
        /><br />
  
        <label for="deposit_thickness">Deposit thickness for each process:</label>
        <input
          type="text"
          id="deposit_thickness"
          name="deposit_thickness"
          value="<%= record?.deposit_thickness %>"
        /><br />
  
        <label for="welding_position">Welding Position(s):</label>
        <input type="text" id="welding_position" name="welding_position" value="<%= record?.welding_position %>" /><br />
  
        <label for="vertical-progression">Vertical Progression(s):</label>
        <input
      @@ -183,17 +186,17 @@
          value="<%= record?.vertical_progression %>"
        /><br />
  
        <label for="ofw">Type of Fuel Gas (OFW):</label>
        <input type="text" id="ofw" name="ofw" value="<%= record?.ofw %>"/><br />
  
        <label for="inert-gas-backing"
          >Inert gas backing (GTAW, PAW, GMAW):</label
        >
        <input
          type="text"
          id="inert_gas"
          name="inert_gas"
          value="<%= record?.inert_gas %>"
        /><br />
  
        <label for="transfer-mode"
      @@ -204,7 +207,7 @@
        <label for="current-type"
          >Current Type I Polarity (AC. DCEP, DCEN):</label
        >
        <input type="text" id="current_type" name="current_type" value="<%= record?.current_type %>" /><br />
  
        <label for="voltage">Voltage:</label>
        <input type="text" id="voltage" name="voltage" value="<%= record?.voltage %>"/><br />
      @@ -213,58 +216,58 @@
        <input type="text" id="current" name="current" value="<%= record?.current %>" /><br />
  
        <label for="travel-speed">Travel Speed:</label>
        <input type="text" id="vertical_progression" name="vertical_progression" value="<%= record?.vertical_progression %>" /><br />
  
        <label for="interpass-temperature">InterPass Temperature:</label>
        <input
          type="text"
          id="interpass_temperature"
          name="interpass_temperature"
          value="<%= record?.interpass_temperature %>"
        /><br />
  
        <label for="pre-heat">Pre Heat (If Applicable):</label>
        <input type="text" id="pre_heat" name="pre_heat" value="<%= record?.pre_heat %>" /><br />
  
        <label for="post-weld-heat-treatment"
          >Post Weld Heat Treatment (If Applicable):</label
        >
        <input
          type="text"
          id="heat_treatment"
          name="heat_treatment"
          value="<%= record?.heat_treatment %>"
        /><br />
  
        <button type="submit">Add Row</button>
      </form>
    <button style="grid-column:2/2"> Save</button>
    <script>
      // document.addEventListener("DOMContentLoaded", function () {
      //     const form = document.getElementById("data-form");
      //     const tableBody = document.querySelector("table tbody");
      //     form.addEventListener("submit", async function (event) {
            

      //         const newRowData = {};
      //         // Loop through the form elements and create table cells
      //         for (let i = 0; i < form.elements.length; i++) {
      //             const input = form.elements[i];
      //             if (input.type !== "submit") {
      //                 const cell = document.createElement("td");
      //                 cell.textContent = input.value;
      //                 newRowData[input.name] = input.value; // Store data in an object
      //                 tableBody.appendChild(cell);
      //             }
      //         }
               
      //         // Send POST request to a frontend route (replace with your route)
           

      //         // Reset the form
      //         form.reset();
      //     });
      // });
  </script>
  </body>
</html>
