<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="report.css" />
    <title>Document</title>
  </head>
  <body>
    <div style="width: fit-content">
      <div style="border: 2px black solid; margin: 2px">
        <div style="border: 2px black solid" class="flex-between">
          <div class="logo"></div>
          <p style="text-align: center">
            Welder Qualification Test Record Sheet | DOC NO # :<span>R-1001</span>
          </p>
          <img class = "logo" src="https://i.ibb.co/jgGwH67/logo.png">
        </div>
        <div>
          <table>
            <thead>
              <tr>
                <th>Serial No.</th>
                <th>Welder ID</th>
                <th>Iqama Number</th>
                <th>Test Coupon ID</th>
                <th>Date of Inspection</th>
                <th>Welding Process(es)</th>
                <th>Type of welding (manual/ semi-auto)</th>
                <th>Backing (with /without)</th>
                <th>Type of Weld/Joint</th>
                <th>Thickness</th>
                <th>Product Type (Plate or Pipe)</th>
                <th>Diameter of Pipe</th>
                <th>Base Metal P Number</th>
                <th>Filler Metal or electrode specification(s) (SFA)</th>
                <th>Filler Metal F-Number (S)</th>
                <th>Filler Metal addition/Deletion ( GTAW / PAW)</th>
                <th>Deposit thickness for each process</th>
                <th>Welding Position (s)</th>
                <th>Vertical Progression (s)</th>
                <th>Type of Fuel Gas (OFW)</th>
                <th>Inert gas backing (GTAW, PAW, GMAW)</th>
                <th>
                  Transfer Mode (spray, globular, or pulse to sort circuit-GMAW)
                </th>
                <th>Current Type I Polarity (AC. DCEP, DCEN)</th>
                <th>Voltage</th>
                <th>Current</th>
                <th>Travel Speed</th>
                <th>InterPass Temperature</th>
                <th>Pre Heat (If Applicable)</th>
                <th>Post Weld Heat Treatment (If Applicable)</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <div
            class="signatures"
            style="
              border: 2px black solid;
              padding: 40px 10px;
              display: flex;
              gap: 210px;
              font-size: 14px;
            "
          >
            <p>Contractor Details: _________________________________________</p>
            <p>Witness Inspector: _________________________________________</p>
            <p>Project Details: _________________________________________</p>
            <p>QC Supervisor: _________________________________________</p>
          </div>
        </div>
        <p style="border: 2px black solid; text-align: center; padding: 20px">
          Address: 3658 Ar Rabiyah District Unit No:02, P.0 Box 32437 Dammam
          6621 KSA ةيدوتسلا ‏المملكة العريية‎ ٦٦٢١ ‏الدمام‎ ٣٢٤٣٧ ‏ص.ب‎ ، ٠٢ ‏حي
          الرابية الوحدة رقم‎ ،٣٦٥٨ ‏عنوان:‎
          <br />Tel: +966-1383g3130 ٩٦٦١٣٨٣٢٨٢١٢٠ ‏جوال Website:
          www.atecosaudia.com <br />Email: info@atecosaudia.com:‏البريد
          الإلكتروني: Cr# 2051226809 ٢٠٥١٢٢٦٨٠٩ ‏س_ص:‎
        </p>
      </div>
    </div>
    <form style="padding: 20px 10px 0 10px" id="data-form">
      <label for="serial-no">Serial No.:</label>
      <input type="text" id="serial-no" name="serial-no" value="<%= record.serial_no %>" /><br />

      <label for="welder-id">Welder ID:</label>
      <input type="text" id="welder-id" name="welder-id" value= "<%= record?.welder_id %>"  /><br />

      <label for="iqama-number">Iqama Number:</label>
      <input type="text" id="iqama-number" name="iqama-number" value="<%= record?.iqama_no %>" /> <br />

      <label for="test-coupon-id">Test Coupon ID:</label>
      <input type="text" id="test-coupon-id" name="test-coupon-id" value="<%= record?.test_coupon_id %>" /><br />

      <label for="date-of-inspection">Date of Inspection:</label>
      <input
        type="text"
        id="date-of-inspection"
        name="date-of-inspection"
         value="<%= record?.date_of_inspection %>"
      /><br />

      <label for="welding-process">Welding Process(es):</label>
      <input type="text" id="welding-process" name="welding-process" value="<%= record?.welding_process %>" /><br />

      <label for="type-of-welding">Type of welding (manual/semi-auto):</label>
      <input type="text" id="type-of-welding" name="type-of-welding" value="<%= record?.type_of_welding %>" /><br />

      <label for="backing">Backing (with/without):</label>
      <input type="text" id="backing" name="backing" value="<%= record?.backing %>" /><br />

      <label for="type-of-weld-joint">Type of Weld/Joint:</label>
      <input
        type="text"
        id="type-of-weld-joint"
        name="type-of-weld-joint"
        value="<%= record?.type_of_welding %>"
      /><br />

      <label for="thickness">Thickness:</label>
      <input type="text" id="thickness" name="thickness" value="<%= record?.thickness %>" /><br />

      <label for="product-type">Product Type (Plate or Pipe):</label>
      <input type="text" id="product-type" name="product-type" value="<%= record?.product_type %>" /><br />

      <label for="diameter-of-pipe">Diameter of Pipe:</label>
      <input type="text" id="diameter-of-pipe" name="diameter-of-pipe" value="<%= record?.diameter-of-pipe %>" /><br />

      <label for="base-metal-p-number">Base Metal P Number:</label>
      <input
        type="text"
        id="base-metal-p-number"
        name="base-metal-p-number"
        value="<%= record?.base_metal_p_no %>"
      /><br />

      <label for="filler-metal-spec"
        >Filler Metal or electrode specification(s) (SFA):</label
      >
      <input
        type="text"
        id="filler-metal-spec"
        name="filler-metal-spec"
        value="<%= record?.sfa %>"
      /><br />

      <label for="filler-metal-f-number">Filler Metal F-Number (S):</label>
      <input
        type="text"
        id="filler-metal-f-number"
        name="filler-metal-f-number"
        value="<%= record?.s %>"
      /><br />

      <label for="filler-metal-addition"
        >Filler Metal addition/Deletion (GTAW/PAW):</label
      >
      <input
        type="text"
        id="filler-metal-addition"
        name="filler-metal-addition"
        value="<%= record?.gtaw_paw %>"
      /><br />

      <label for="deposit-thickness">Deposit thickness for each process:</label>
      <input
        type="text"
        id="deposit-thickness"
        name="deposit-thickness"
        value="<%= record?.deposit_thickness %>"
      /><br />

      <label for="welding-position">Welding Position(s):</label>
      <input type="text" id="welding-position" name="welding-position" value=<%= record?.welding_position %> /><br />

      <label for="vertical-progression">Vertical Progression(s):</label>
      <input
        type="text"
        id="vertical-progression"
        name="vertical-progression"
        value="<%= record?.vertical_progression %>"
      /><br />

      <label for="type-of-fuel-gas">Type of Fuel Gas (OFW):</label>
      <input type="text" id="type-of-fuel-gas" name="type-of-fuel-gas" value=<%= record?.ofw %>/><br />

      <label for="inert-gas-backing"
        >Inert gas backing (GTAW, PAW, GMAW):</label
      >
      <input
        type="text"
        id="inert-gas-backing"
        name="inert-gas-backing"
        value="<%= record?.insert_gas %>"
      /><br />

      <label for="transfer-mode"
        >Transfer Mode (spray, globular, or pulse to short circuit-GMAW):</label
      >
      <input type="text" id="transfer-mode" name="transfer-mode" value="<%= record?.transfer_mode %>" /><br />

      <label for="current-type"
        >Current Type I Polarity (AC. DCEP, DCEN):</label
      >
      <input type="text" id="current-type" name="current-type" value="<%= record?.current_type %>" /><br />

      <label for="voltage">Voltage:</label>
      <input type="text" id="voltage" name="voltage" value="<%= record?.voltage %>"/><br />

      <label for="current">Current:</label>
      <input type="text" id="current" name="current" value="<%= record?.current %>" /><br />

      <label for="travel-speed">Travel Speed:</label>
      <input type="text" id="travel-speed" name="travel-speed" value="<%= record?.vertical_progression %>" /><br />

      <label for="interpass-temperature">InterPass Temperature:</label>
      <input
        type="text"
        id="interpass-temperature"
        name="interpass-temperature"
        value="<%= record?.interpass_temperature %>"
      /><br />

      <label for="pre-heat">Pre Heat (If Applicable):</label>
      <input type="text" id="pre-heat" name="pre-heat" value="<%= record?.pre_heat %>" /><br />

      <label for="post-weld-heat-treatment"
        >Post Weld Heat Treatment (If Applicable):</label
      >
      <input
        type="text"
        id="post-weld-heat-treatment"
        name="post-weld-heat-treatment"
        value="<%= record?.heat_treatment %>"
      /><br />

      <button type="submit">Add Row</button>
    </form>
    <button style="margin: 10px">Save</button>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("data-form");
        const tableBody = document.querySelector("table tbody");

        form.addEventListener("submit", function (event) {
          event.preventDefault();

          const newRow = document.createElement("tr");

          // Loop through the form elements and create table cells
          for (let i = 0; i < form.elements.length; i++) {
            const input = form.elements[i];
            if (input.type !== "submit") {
              const cell = document.createElement("td");
              cell.textContent = input.value;
              newRow.appendChild(cell);
            }
          }

          tableBody.appendChild(newRow);

          // Reset the form
          form.reset();
        });
      });
    </script>
  </body>

  <style>

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 600;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    border: 2px black solid;
    padding: 5px;
}

.signatures p {
    white-space: nowrap;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px; width: 120px
}

input {
    background-color: rgb(233, 233, 233);
    border-radius: 4px;
    border: 0;
    padding: 4px 8px;
    margin-bottom: 4px;
}

button {
    background-color: #14ab55;
    color: white;
    padding: 4px 8px;
    border: 0;
    margin-top: 5px;
    border-radius: 4px;
}
  </style>
</html>
