<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welder Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <img style="width: 200px;" src="../images/smallLogo.png" alt="">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <form action="/certificate/" method="GET"><button class="btn btn-outline-success me-2" type="submit"> Add Qualification Certificate</button></form>
                        </li>
                        <li class="nav-item">
                            <form action="/card/" method="GET"> <button class="btn btn-outline-success me-2" type="submit">Add Qualification Welder Card</button></form>
                        </li>
                        <li class="nav-item">
                            <form action="/"><button class="btn btn-outline-danger me-2" type="submit">Logout</button></form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <br>

    <div class="container">
        <!-- Inspector Report Details Table -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-left mb-4">Welder Qualification Testing Record Sheet</h2>
                <!-- Add search bar -->
                <input type="text" class="form-control mb-2" id="reportSearch" placeholder="Search...">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="reportTable">
                        <thead class="table-dark">
                            <tr>
                                <th> Serial No</th>
                                <th>Date</th>
                                <th>Document ID</th>
                                <th>Project Details</th>
                                <th>Client</th>
                                <th>Welder ID</th>
                                <th>Welder Name</th>
                                <th>Result Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% reportData.forEach(function(report, index) { %>
                                <% for (let i = 0; i < report.doc_details.length; i++) { %>
                                    <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= report.createdAt %></td>
                                    <td><%= report.doc_id %></td>
                                    <td><%= report.project_details %></td>
                                    <td><%= report.client %></td>
                                        <td><%= report.doc_details[i]['welder_id'] %></td>
                                        <td><%= report.doc_details[i]['welder_name'] %></td>
                                        <td><%= report.doc_details[i]['status'] %></td>
                                        <td style="display: flex; align-items: stretch;">
                                            <form action="/report/edit/<%= report.doc_id %>" method="POST">
                                                <input id="" type="submit" value="Edit" />
                                            </form>
                                            <form action="/report/view/<%= report.doc_id %>" method="POST">
                                                <input type="submit" value="View" />
                                            </form>
                                            <a style="text-decoration: none; color: black; border: 1px solid gray;" href="/report/delete/<%= report.doc_details[i]['welder_id'] %>/<%= report.doc_id %>">Delete</a>
                                        </td>
                                    </tr>
                                <% } %>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-left mb-4">Welder Qualification Certificate Database </h2>
                <input type="text" class="form-control mb-2" id="certificateSearch" placeholder="Search...">
                <div class="table-responsive">
                  
                        <table class="table table-bordered table-striped" id="certificateTable">
                            <thead class="table-dark">
                                <tr>
                                    <th> Serial No</th>
                                    <th>Issued In</th>
                                    <th>Certificate No</th>
                                    <th>Welder ID</th>
                                    <th>Welder Name</th>
                                    <th>Client Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% certificateData.forEach(function(certificate, index){ %>
                                    <tr>
                                        <td><%= index + 1 %></td>
                                        <td><%= certificate.createdAt %></td>
                                        <td><%= certificate.certificateNo %></td>
                                        <td><%= certificate.welderId %></td>
                                        <td><%= certificate.welderName %></td>
                                        <td><%= certificate.clientName %></td>
                                        <td style="display: flex; align-items: stretch;">
                                            <form action="/certificate/edit/<%= certificate.certificateNo %>" method="POST">
                                            <input id="" type="submit" value="Edit"></input> 
                                            </form>

                                            <form action="/certificate/view/<%= certificate.certificateNo %>">
                                            <input type="submit" value="View"></input>
                                            </form>
                                            <form action="/certificate/delete/<%= certificate.certificateNo %>">
                                            <input type="submit" value="Delete"></input>
                                            </form>
                                        </td>

                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                        
                </div>
            </div>
        </div>
    </div>


<br>
 


    
    <div class="container">
        <!-- Welder Details Table -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-left mb-4">Welder Qualification Card Database</h2>
                <input type="text" class="form-control mb-2" id="welderSearch" placeholder="Search...">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="welderTable">
                        <thead class="table-dark">
                            <tr>
                                <th>index No</th>
                                <th>Issued In</th>
                                <th>Welder ID</th>
                                <th>Welder Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% cardData.forEach(function(card, index){ %>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <td><%= card.createdAt %></td>
                                    <td><%= card.welder_id %></td>
                                    <td><%= card.welder_name %></td>
                                    <td style="display: flex; align-items: stretch;">
                                        <form action="/card/edit/<%= card.card_no %>" method="GET">
                                        <input id="" type="submit" value="Edit"></input> 
                                        </form>

                                        <form action="/card/view/<%= card.card_no %>">
                                        <input type="submit" value="View"></input>
                                        </form>
                                        <form action="/card/delete/<%= card.card_no %>">
                                        <input type="submit" value="Delete"></input>
                                        </form>
                                    </td>

                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script>
        const welderSearchInput = document.getElementById('welderSearch');
        const welderTable = document.getElementById('welderTable').getElementsByTagName('tbody')[0];
        const rows = welderTable.getElementsByTagName('tr');
    
        welderSearchInput.addEventListener('input', function() {
            const searchText = welderSearchInput.value.toLowerCase();
            
            Array.from(rows).forEach(row => {
                const rowData = row.textContent.toLowerCase();
                if (rowData.includes(searchText)) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });
        });


    const reportSearchInput = document.getElementById('reportSearch');
    const reportTable = document.getElementById('reportTable').getElementsByTagName('tbody')[0];
    const rep_rows = reportTable.getElementsByTagName('tr');

    reportSearchInput.addEventListener('input', function() {
        const searchText = reportSearchInput.value.toLowerCase();

        Array.from(rep_rows).forEach(row => {
            const rowData = row.textContent.toLowerCase();
            if (rowData.includes(searchText)) {
                row.style.display = 'table-row';
            } else {
                row.style.display = 'none';
            }
        });
    });

    const certificateSearchInput = document.getElementById('certificateSearch');
    const certificateTable = document.getElementById('certificateTable').getElementsByTagName('tbody')[0];
    const cert_rows = certificateTable.getElementsByTagName('tr');

    certificateSearchInput.addEventListener('input', function() {
        const searchText = certificateSearchInput.value.toLowerCase();

        Array.from(cert_rows).forEach(row => {
            const rowData = row.textContent.toLowerCase();
            if (rowData.includes(searchText)) {
                row.style.display = 'table-row';
            } else {
                row.style.display = 'none';
            }
        });
    });
    </script>
      
    
</body>
</html>
