<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CERTIFICATE</title>
</head>
<style>
  table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
  }
h6{font-size: 11px;}
  thead {
    background-color: rgb(241, 241, 241);
  }
  @media print {
      .hide-in-print {
        display: none;
      }
    }
</style>

<body>
  <table border style="margin: auto; width: 100%;">
    <thead>
      <th><img style="width:200px" src="/images/logo.png" alt=""></th>
      <th>
        <div>
          <h2
            style=" font-size: medium; font-weight: bold; color: green; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Welder / Welder operator performance Qualification Record</h2>
          <h3
            style=" font-size: medium; font-weight: bold; color: black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
             <%= record.clientName %></h3>
        </div>
      </th>
      <th><img style="width:150px" src="/certificates/<%= record.certificateNo %>/profile.jpg" alt=""></th>
    
    </thead>

  </table>
  <table id="tab" style="margin: auto; width: 100%; border-collapse: collapse; border: 1px solid black;">
    <tbody>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tr>
        <td style="border: 1px solid black; font-weight: bold;">Welder's/Welder Operator's Name</td>
        <td style="border: 1px solid black;"><%= record.welderName %></td>
        <td style="border: 1px solid black;font-weight: bold;">Identification of WPS/PQR</td>
        <td style="border: 1px solid black;"><%= record.identification_wps %></td>
      </tr>
      <tr>
        <td style="border: 1px solid black;font-weight: bold;">Iqama / ID No</td>
        <td style="border: 1px solid black;"><%=record.iqamaNo%></td>
        <td style="border: 1px solid black;font-weight: bold;">Qualification Standard</td>
        <td style="border: 1px solid black;"><%=record.qualifcationStandard %></td>
      </tr>
      <tr>
        <td style="border: 1px solid black;font-weight: bold;">Welder ID No</td>
        <td style="border: 1px solid black;"><%= record.welderId %></td>
        <td style="border: 1px solid black;font-weight: bold;">Base Metal Specification</td>
        <td style="border: 1px solid black;"><%=record.baseMetalSpecs %></td>
      </tr>
      <tr>
        <td style="border: 1px solid black;font-weight: bold;">Certificate Ref No</td>
        <td style="border: 1px solid black;"><%=record.certificateNo %></td>
        <td style="border: 1px solid black;font-weight: bold;">Joint Type</td>
        <td style="border: 1px solid black;"><%=record.jointType %></td>
      </tr>
      <tr>
        <td style="border: 1px solid black;font-weight: bold;">Date of Test</td>
        <td style="border: 1px solid black;"><%=record.date_of_test %></td>
        <td style="border: 1px solid black;font-weight: bold;">Weld Type</td>
        <td style="border: 1px solid black;"><%=record.weldType %></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th style="border: 1px solid black; font-weight: bold;">Welder variables</th>
        <th style="border: 1px solid black; font-weight: bold;">Actual Values</th>
        <th style="border: 1px solid black; font-weight: bold;" colspan="2">Range Qualified</th>
      </tr>
    </thead>
    </tbody>
    <tbody style="text-align: center">
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Welder Process(es)</td>
        <td style="text-align: left; border: 1px solid black;"><%=record.welderProcessActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.welderProcessRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Types of Welder (manual/semi auto)
        </td>
        <td style="text-align: left; border: 1px solid black;"><%=record.typesOfWeldersActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.typesOfWeldersRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Backing (With/without)</td>
        <td style="text-align: left; border: 1px solid black;"><%=record.brackingActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.brackingRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Types of weld</td>
        <td style="text-align: left; border: 1px solid black;"><%=record.typesOfWieldActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.typesOfWieldRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Product Types(Plate or Pipe)</td>
        <td style="text-align: left; border: 1px solid black;"><%=record.productTypeActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.productTypeRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Diameter of Pipe</td>
        <td style="text-align: left; border: 1px solid black;;"><%=record.diameterOfPipeActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.diameterOfPipeRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Base Metal P Number to P Number</td>
        <td style="text-align: left; border: 1px solid black;"><%=record.baseMetalp_pActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.baseMetalp_pRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Filler Metal or electrode specification
        </td>
        <td style="text-align: left; border: 1px solid black;"><%=record.fillerMetalActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.fillerMetalRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Filler Meta F-Number(S)</td>
        <td style="text-align: left; border: 1px solid black;"><%=record.fillerMetalFNoActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.fillerMetalFNoRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Filer Metal addition/Deletion (GTAW/PAW)
        </td>
        <td style="text-align: left; border: 1px solid black;"><%=record.fillerMetalAdditionActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.fillerMetalAdditionRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Consumable Insert (GTAW or PAW)</td>
        <td style="text-align: left; border: 1px solid black;"><%=record.consumableInsertActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.consumableInsertRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black; font-weight: bold;">
          Deposit thickness for each process
        </td>
        <td style="text-align: left; border: 1px solid black;"><%=record.depositeThicknessActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.depositeThicknessRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Welder position</td>
        <td style="text-align: left; border: 1px solid black;"><%=record.welderPositionActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.welderPositionRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Vertical Progression</td>
        <td style="text-align: left; border: 1px solid black;"><%=record.verticalProgressionActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.verticalProgressionRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Type of Fuel Gas(OFW)</td>
        <td style="text-align: left; border: 1px solid black;"><%=record.typesOfFuelGasActual%></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.typesOfFuelGasRange%></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Insert gas backing(GTAW,PAW,GMAW)
        </td>
        <td style="text-align: left; border: 1px solid black;"><%=record.insertGasBackingActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.insertGasBackingRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Transfer Mode( spary, globular, SHORT)
        </td>
        <td style="text-align: left; border: 1px solid black;"><%=record.transferModelActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.transferModelRange %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Current Type/Polarity(AC,DCEP,DCEN)
        </td>
        <td style="text-align: left; border: 1px solid black;"><%=record.currentTypePolarityActual %></td>
        <td style="text-align: left; border: 1px solid black;" colspan="2"><%=record.currentTypePolarityRange %></td>
      </tr>
    </tbody>
    <table border style="width: 100%;">
    <thead>
      <tr>
        <th style=" font-weight: bold;">Test Conducted/ Type of Test</th>
        <th style=" font-weight: bold;">Report No</th>
        <th style="font-weight: bold;" colspan="2">Results</th>
      </tr>
    </thead>
   
    <tbody style="text-align: center; border: 1px solid black;">
      <tr style="height: 10px; ">

        <td>
          <div style="display: flex; flex-direction: column; gap: 5px; justify-content: center;">
            <h4>Visual Inspection</h4>
            <h4>NDT - Radiography</h4>
            <h4>Mechanical Test</h4>
          </div>
       
          
        </td>
        <td style="text-align: center;">
          <div style="display: flex; gap: 10px; justify-content: center;">
            <% if (record.virtualInspectorChecked === "on") { %>
            <input type="checkbox" disabled checked name="" id="" >
            <% } else { %>
              <input disabled type="checkbox" name="" id="" >
              <% } %>
            <h6 ><%= record.virtualInspectorReportNo%></h6>
          </div>
          <div style="display: flex; gap: 10px; justify-content: center;">
            <% if (record.radiographyChecked === "on") { %>
              <input type="checkbox" disabled checked name="" id="" >
              <% } else { %>
                <input disabled type="checkbox" name="" id="" >
                <% } %>
            <h6><%= record.radiographyReportNo%></h6>
          </div>
          <div style="display: flex; gap: 10px; justify-content: center;">
            <% if (record.mechTestChecked === "on") { %>
              <input disabled type="checkbox" checked name="" id="" >
              <% } else { %>
                <input disabled type="checkbox" name="" id="" >
                <% } %>
            <h6><%= record.mechTestReportNo%></h6>
          </div>

        </td>
        <td>
          <div style="display: flex; gap: 10px; justify-content: center;">
          
            <h6><%= record.virtualInspectorResults %></h6>
          </div>
          <div style="display: flex; gap: 10px; justify-content: center;">
          
            <h6><%= record.radiographyResults%></h6>
          </div>
          <div style="display: flex; gap: 10px; justify-content: center;">
          
            <h6><%= record.mechTestResults%></h6>
          </div>
        </td>
      </tr>

    </tbody>
    <thead>
      <tr>
        <th colspan="4">    <p style="font-size: 11px;">We, the undersigned, certify that the statements in the record are correct and that the test coupons were welded and tested in accordance with the requirements of <span style="color: rgb(0, 131, 254); font-weight: bold;"><%= record.year %></span>.</p></th>
      </tr>
    </thead>
   
  </table>
  <table style="width: 100%; border-collapse: collapse;">
    <tbody>
        <tr>
            <td style="padding: 20px; ">
                <div style="display: flex; flex-direction: column; gap: 20px; position: relative; top: -31px;">
                  <p style="font-weight: bold; font-size: 13px; width: 300px; "> Arabian Testing Evolution Company (ATECO)</p>
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                     
                        <span style="font-weight: bold;">Testing Witnessed / Welder Inspector</span>
                        <span style="text-decoration: underline;"><%=record.welderInspector%></span>
                    </div>
              
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <span style="font-weight: bold;">Test Supervisor / Technical Manager</span>
                        <span style="text-decoration: underline;"><%= record.supervisorName%></span>
                    </div>
                  
                </div>
            </td>
            <td style="padding: 20px; ">
                <div style="display: flex; flex-direction: column; gap: 20px; ">
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <span style="font-weight: bold; ">Client Name:</span>
                        <span style="text-decoration: underline;"><%= record.clientName %></span>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <span style="font-weight: bold;">Client Signature:</span>
                        <span style="text-decoration: underline;">____________________</span>
                    </div>

                    <div style="display: flex; justify-content: end; align-items: center; background-color: rgb(223, 223, 223); width: 100%;">
                      <p >To verify the information about the certificate. Please scan the QR code using any QR scan app</p>
                      <img width="90px" src="/certificates/<%= record.certificateNo%>/qrcode.png" alt="">
                     
                    </div>
          
                </div>
            </td>
        </tr>
        <td colspan="4">
          <h3 style="border: 2px black solid; text-align: center; padding: 20px">

            Address: 3658 Ar Rabiyah District Unit No:02, P.0 Box 32437 Dammam
            6621 KSA ةيدوتسلا ‏المملكة العريية‎ ٦٦٢١ ‏الدمام‎ ٣٢٤٣٧ ‏ص.ب‎ ، ٠٢ ‏حي
            الرابية الوحدة رقم‎ ،٣٦٥٨ ‏عنوان:‎
            <br>Tel: +966138383130 ٩٦٦١٣٨٣٢٨٢١٢٠ ‏جوال Website:
            www.atecosaudia.com <br>Email: info@atecosaudia.com:‏البريد
            الإلكتروني: Cr# 2051226809 ٢٠٥١٢٢٦٨٠٩ ‏س_ص:‎
          </h3>
          <!-- <p style="text-align: center;">Address : شارع الزین العابدین, Ar Rabiyah, Dammam 32437,Saudi Arabia  | Email :<span style="color: blue;"> Inspection@atecosaudia.com</span></p>  <a class="hide-in-print" href="#" onclick="window.print(); return false;" style="text-decoration: none; background-color: red; color: white; padding: 2px;">Download PDF</a></td> -->
          </td>
    </tbody>
</table>

<a class="hide-in-print" href="#" onclick="window.print(); return false;" style="text-decoration: none; background-color: red; color: white; padding: 2px;">Download PDF</a>
<a class="hide-in-print" href="/Supervisor"  style="text-decoration: none; background-color: green; color: white; padding: 2px;">Back to Home</a>

</body>

<script>
  let count = 0;
  function change(params) {
    count++;
    if (count > 2){
      return;
    }

    let table = document.getElementById("tab");
    table.innerHTML += ` <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;"><%=record.attr1key%></td>
        <td style="text-align: left; border: 1px solid black;"> <%=record.attr1value %></td>
        <td style="text-align: left; border: 1px solid black;"><%=record.attr1range %></td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;"><%=record.attr2key%></td>
        <td style="text-align: left; border: 1px solid black;"> <%=record.attr2value %></td>
        <td style="text-align: left; border: 1px solid black;"> <%=record.attr2range %></td>
      </tr>

      <tr>`
        
  }

  change(1);
</script>

</html>