<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <title>Document</title>
    <style>
      * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 600;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    border: 2px black solid;
    padding: 5px;
}

.signatures p {
    white-space: nowrap;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px; width: 120px
}
form{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
input {
    background-color: rgb(233, 233, 233);
    border-radius: 4px;
    border: 0;
    padding: 4px 8px;
    margin-bottom: 4px;
}

button {
    background-color: #14ab55;
    color: white;
    padding: 4px 8px;
    border: 0;
    margin-top: 5px;
    border-radius: 4px;
}
@media print {
      .hide-in-print {
        display: none;
      }
    }
    </style>
  </head>
  <body>
    <div style="width: fit-content">
      <div style="border: 2px black solid; margin: 2px">
        <div style="border: 2px black solid;display: flex; justify-content: space-evenly; align-items: center;" >
          <div class="logo"> <img class = "logo" src="/images/AtecoLogoTransparent.png"> </div>
          <p style="text-align: center">
            Welder Qualification Test Record Sheet 
          </p>
        <p>ATECO-WTQ_DOC# <%=doc_id %></p>
        
        </div>
        <div>
          <table>
            <thead>
              <tr>
                <th>Welder ID</th>
                <th>Iqama Number</th>
                <th>Test Coupon ID</th>
                <th>Date of Inspection</th>
                <th>Welding Process(es)</th>
                <th>Type of welding (manual/ semi-auto)</th>
                <th>Backing (with /without)</th>
                <th>Type of Weld/Joint</th>
                <th>Thickness</th>
                <th>Product Type (Plate or Pipe)</th>
                <th>Diameter of Pipe</th>
                <th>Base Metal P Number</th>
                <th>Filler Metal or electrode specification(s) (SFA)</th>
                <th>Filler Metal F-Number (S)</th>
                <th>Filler Metal addition/Deletion ( GTAW / PAW)</th>
                <th>Deposit thickness for each process</th>
                <th>Welding Position (s)</th>
                <th>Vertical Progression (s)</th>
                <th>Type of Fuel Gas (OFW)</th>
                <th>Inert gas backing (GTAW, PAW, GMAW)</th>
                <th>Transfer Mode (spray, globular, or pulse to sort circuit-GMAW)</th>
                <th>Current Type I Polarity (AC. DCEP, DCEN)</th>
                <th>Voltage</th>
                <th>Current</th>
                <th>Travel Speed</th>
                <th>InterPass Temperature</th>
                <th>Pre Heat (If Applicable)</th>
                <th>Post Weld Heat Treatment (If Applicable)</th>
              </tr>
            </thead>
           
            <tbody id="data-table-body">
              <% record.doc_details.map((data,index)=>{ %>
              <tr>
                
            <td>  <%= data.welder_id %></td>
            <td><%= data.iqama_no %></td> 
            <td> <%= data.test_coupon_id %></td> 
            <td> <%= data.date_of_inspection %></td>
            <td> <%= data.welding_process %></td>
            <td> <%= data.type_of_welding %></td>
            <td>  <%= data.backing %></td>
            <td> <%= data.typeof_weld %> </td> 
            <td> <%= data.thickness %></td>
            <td> <%= data.product_type%></td>
            <td>  <%= data.diameter_of_pipe %></td>
            <td>  <%= data.base_metal_p_no %></td>
            <td>  <%= data.sfa%></td>
            <td> <%= data.s%></td>
            <td>  <%= data.gtaw_paw %></td>
            <td>  <%= data.deposit_thickness %></td>
            <td> <%= data.welding_position %></td>
            <td>  <%= data.vertical_progression %></td>
            <td>  <%= data.ofw %></td>
            <td>  <%= data.inert_gas %></td>
            <td>  <%= data.transfer_mode %></td>
            <td> <%= data.type_polarity%></td>
            <td>   <%= data.voltage %></td>
            <td> <%= data.current %></td>
            <td>  <%= data.travel_speed %></td>
            <td>  <%= data.interpass_temperature%></td>
            <td> <%= data.pre_heat %></td>
            <td>  <%= data.post_weld %></td>       
             </tr>
             <%   }) %>
            </tbody>
         
          </table>
      </div>      
      </div>
    </div>
    
<a class="hide-in-print" href="#" onclick="window.print(); return false;" style="text-decoration: none; background-color: red; color: white; padding: 2px;">Download PDF</a>
<a class="hide-in-print" href="/inspector"  style="text-decoration: none; background-color: green; color: white; padding: 2px;">Back to Home</a>

  
  </body>
</html>
