<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Document</title>
</head>


<body style="width: 216mm; height: 279mm; margin: auto">
  <div class="card">
    <div class="flex-between">
      <img style="width: 150px; height: 100px;" class="logo" src="/images/logo.png" alt="logo" />
      <div style="text-align: center; color: #14ab55">
        <p style="text-transform: uppercase">
          Ateco Arabian Testing Evolution
        </p>
        <p style="margin: 8px 0; font-size: 13px">
          شارع الزین العابدین, Ar Rabiyah, Dammam 32437
        </p>
        <p style="text-transform: uppercase">Welder Qualification Card</p>
      </div>
      <img style="width: 100px; height: 100px;" class="qrcode" src="/<%= record.card_no%>/<%=record.qr%>" alt="QR Code" />
    </div>
    <div class="flex">
      <img style="width: 200px; height: 200px;" class="person-img"
        src="/<%=record.card_no%>/<%= record.card_no%>.jpg" alt="Person" />
      <table id="table-1">
        <tbody>
          <tr>
            <td>Company</td>
            <td>:<%= record.company %></td>
          </tr>
          <tr>
            <td>Welder Name</td>
            <td>: <%= record.welder_name %></td>
          </tr>
          <tr>
            <td>Iqama No</td>
            <td>:<%= record.iqama_no %></td>
          </tr>
          <tr>
            <td>Welder ID</td>
            <td>: <%= record.welder_id %></td>
          </tr>
          <tr>
            <td>Card No</td>
            <td>: <%= record.card_no  %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex-between" style="margin-top: 20px">
      <div>
        <p style="color: gray"><%=record.authorized_by %></p>
        <p style="margin-top: 3px">Authorized by</p>
      </div>
      <div>
        <p style="color: gray"><%= record.welding_inspector %></p>
        <p style="margin-top: 3px">Welding Inspector</p>
      </div>
    </div>
    <p style="margin-top: 8px; font-size: 14px">
      This is to certify that this person has been tested in accordance with
      requirements of <span style="color: #14ab55">ASME SEC IX - <%=record.year %></span>
    </p>
  </div>
  <div style="border: 2px black solid; margin-top: 10px">
    <table id="table-2" style="width: 100%">
      <tr>
        <td>Card No</td>
        <td><%= record.card_no%></td>
        <td>WPS/PQR No.</td>
        <td><%= record.wps_pqr_no%></td>
      </tr>
      <tr>
        <td>Process</td>
        <td><%= record.process %></td>
        <td>Joint Type</td>
        <td><%= record.joint_type%></td>
      </tr>
      <tr>
        <td>Test Position</td>
        <td><%=record.test_position %></td>
        <td>Position Qualified</td>
        <td><%= record.position_qualified%></td>
      </tr>
      <tr>
        <td>Vertical Progression</td>
        <td><%=record.vertical_progression%></td>
        <td>Test Thickness</td>
        <td><%= record.test_thickness %></td>
      </tr>
      <tr>
        <td>Test Dia</td>
        <td><%= record.test_position %></td>
        <td rowspan="2">Range Qualified</td>
        <td rowspan="2">
      <%= record.range_qualified %>
        </td>
      </tr>
      <tr>
        <td>P No Qualified</td>
        <td><%= record.p_no_qualified %></td>
      </tr>
      <tr>
        <td>F No Qualified</td>
        <td><%= record.f_no_qualified %></td>
        <td>Electrode Class Used</td>
        <td><%=record.electrode_class_used %></td>
      </tr>
      <tr>
        <td>Place of Issue</td>
        <td><%= record.place_of_issue %></td>
        <td>Test Method</td>
        <td><%= record.test_method %></td>
      </tr>
      <tr>
        <td>Date of Test</td>
        <td><%= record.date_of_test %></td>
        <td>Date of Exp</td>
        <td><%=record.date_of_expiry%></td>
      </tr>
    </table>
    <p style="border: 2px black solid; padding: 5px; font-size: 15px">
      This card, on its own qualifies the welder for 6 months from the Date of
      test. Beynd this date welding records must be consulted to ensure the
      welder's qualification has been maintained.
    </p>
  </div>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      font-weight: 600;

    }

    .card {
      margin-top: 10px;
      padding: 10px;
      border: 4px black solid
    }

    .flex {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .flex-between {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      height: 150px;
      width: 200px
    }

    .qrcode {
      height: 150px;
      width: 150px;
    }

    .person-img {
      height: 200px;
      width: 200px;
      object-fit: cover
    }

    #table-1 {
      border-collapse: separate;
      border-spacing: 0 20px;
      /* Adjust the second value for vertical spacing */
    }

    #table-2 {
      border-collapse: separate;
      border-spacing: 0;
    }

    #table-2 td {
      border: 2px black solid;
      padding: 5px;
    }

    td:nth-child(even) {
      color: #14ab55;
      /* Apply your styling for even rows */
    }
  </style>
</body>

</html>